.container{
    margin-top: 100px;
    margin-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
    width: 100%;
}

.content{
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 40px;
}

.imgContainer{
    width: 100%;
    height: 100%px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
<<<<<<< HEAD
    left: 267px;
    top: -151px;
    border: solid 2px white;
    width: fit-content;
    color: white
    
    
=======
>>>>>>> af3de4ae77b77c8cc25e273e504ff3bdde2e46e7
}

.content img{
    width: 90%;
    height: 90%;
}

.info{
    height: 100%;
    width: 100%;
}

.info h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}

.info h5{
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    color: gray;
    margin-right: 50px;
}

.moreInfo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.artist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-right: 60px;
}

.music{
    display: flex;
    width: 100%;
}

.music ul{
    color: white;
    list-style-type: none;
}

.music ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

@media only screen and (max-width: 768px){
    .detail{
        width: 100%;
        margin: 0em;
    }

    
}