.container-album{
    margin-top: 100px;
    margin-left: 0;
    margin-left: 0;
    display: none;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.album{
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 40px;
}

.album .imgContainer{
    width: 100%;
    height: 100%px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* left: 267px;
    top: -151px;
    border: solid 2px white;
    width: fit-content;
    color: white */
    
    
}

.album img{
    width: 90%;
    height: 70%;
}

.album .info{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
}

.album .info h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}

.album .info h5{
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    color: gray;
    margin-right: 50px;
}

.album .moreInfo{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    padding-top: 0;
    margin-right: 0;
}

.album .album-owner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.album .music{
    display: flex;
    width: 100%;
}

.album .music ul{
    color: white;
    list-style-type: none;
}

.album .music ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

@media only screen and (max-width: 768px){
    .album{
        width: 100%;
        height: 700px;
        margin: 0em;
        margin-bottom: 50px;
        margin-top: 50px;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    .album .imgContainer{
        margin-bottom: 20px;
    }
    .album .imgContainer img{
        width: 50%;
        height: 100%;
    }

    .album .info{
        justify-content: center;
    }

    .album .info h3{
        margin-left: 160px;

    }
    .album .music{
        justify-content: center;
    }
    .album .moreInfo{
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 60px;
    }

    .album .duration{
        justify-content: flex-start;
        margin-left: 60px;
    }
    .album .duration h5{
        margin: 0;
    }
}

@media only screen and (max-width: 420px){

    .album .imgContainer img{
        height: 80%;
    }
    .album .moreInfo{
        margin-left: 35px;
    }
    .album .duration{
        margin-right: 0;
        margin-left: 30px;
    }

    .album .music{
        width: 90%;
        justify-content: center;
        margin-right: 10px;
    }
    .album .info h3{
        margin-left: 30px;
    }
}