.container-artist{
    margin-top: 100px;
    display: none;
    background-color: rgb(12, 11, 14);
    width: 100%;
    align-items: center;
}

.artist{
    width: 700px;
    height: 445px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 8%;
    padding-bottom: 80px;
    padding-top: 80px;
}

.artist .imgContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist .imgContainer img{
    height: 80%;
    width: 100%;
    border-radius: 50%;
}

.artist .info{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.artist .headline{
    width: 100%;
}
.artist .headline h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    width: 100%;
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
}

.artist .headline h4{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: gray;
    margin: 0;
    margin-left: 20px;
}
.artist .music{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.artist .music h5{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: gray;
    margin-left: 20px;
    margin-top: 20px;
}

.artist .music ol{
    color: white;
    list-style-type: none;
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.artist .music #last{
    border: solid 1px rgba(128, 128, 128, 0.315);
    border-left: none;
    border-right: none;
}

.artist .music ol li{
    border: solid 1px rgba(128, 128, 128, 0.315);
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-left: 10px;
}

.artist .music ol li a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}

.artist .music ol li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.artist .music ol li:hover{
    background-color: rgba(128, 128, 128, 0.26);
}

@media only screen and (max-width: 768px){
    .artist{
        width: 100%;
        height: 700px;
        margin: 0em;
        margin-bottom: 50px;
        margin-top: 50px;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    .artist .imgContainer{
        margin-bottom: 20px;
    }
    .artist .imgContainer img{
        width: 45.5%;
        height: 100%;
    }

    .artist .info{
        justify-content: center;
    }
    .artist .headline{
        width: 768px;
    }
    .artist .info h3{
        margin-left: 0;
        text-align: center;
    }

    .artist .info h4{
        /* margin-left: 60px; */
        text-align: center;
    }
    .artist .music{
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }

    .artist .music h5{
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .artist .music ol{
        margin-left: 30px;
        width: 50%;
        text-align: center;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 420px){
    .container-artist{
        height: auto;
    }
    .artist{
        padding-bottom: 0;
        padding-top: 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .artist .imgContainer img{
        height: 82%;
        width: 90%;
        padding-bottom: 0;
    }

    .artist .info{
        width: 100%;
    }

    .artist .info h3{
        margin-left: 0;
    }

    .artist .headline{
        width: 100%;
    }
    .artist .headline h4{
        margin: 0;
        text-align: center;
    }
    .artist .music{
        width: 100%;
        margin: 0;
    }

    .artist .music h5{
        width: 100%;
        text-align: center;
    }

    .artist .music ol{
        margin: 0;
        width: 100%;
    }
}

/* Mio */