 body{
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2001; 
    background-color: black;
    margin-top: 0;
}

header img{
    width: 105px;
    height: 90px;
}

.buscador{
    height: 30px;
    width: 310px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.buscador input{
    width: 280px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: 0;
}

.buscador i{
    width: 10px;
    align-self: center;
    margin-left: 5px;
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 500px;
    justify-content: space-around;
    padding: 0;
}

header ul li{
    list-style-type: none;
    text-transform: capitalize;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Muli', sans-serif;
    
}

header ul li{
    color: white;
}

.hover:hover{
    color: rgb(75, 26, 171);
}

header ul li:hover{
    color: rgb(75, 26, 171);
} 




.container{
    margin-top: 70px;
    margin-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
    width: 100%;
}

.content{
    width: 800px;
    height: 534px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 40px;
}

.imgContainer{
    width: 100%;
    height: 100%px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* left: 267px;
    top: -151px;
    border: solid 2px white;
    width: fit-content;
    color: white */
    
    
}

.content img{
    width: 90%;
    height: 90%;
}

.info{
    height: 100%;
    width: 100%;
}

.content h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: -4px;
    margin-top: -1px;
    font-size: 40px;
    margin-bottom: 10px;
}

.content h4{
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: gray;
    margin-right: 50px;
    margin-top: -159px;
    margin-left: 396px;
}

.moreInfo{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.artist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-right: 60px;
}

.musica{
    display: flex;
    width: 100%;
}

.musica ul{
    color: white;
    list-style-type: none;
    font-family: 'Muli', sans-serif;
    margin-left: -42px;
    position: relative;
    top: -138px;
}

.musica ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}


footer{
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
}

footer a img{
    width: 100px;
    height: 40px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
}

footer ul li a:hover{
    font-weight: bold;
}