header{
    display: flex;
    width: 100%;
    height: 100px;
    border: solid 3px red;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2001;
    background-color: black;
    margin-top: 0;
}

header img{
    width: 70px;
    height: 70px;
}

.buscador{
    height: 30px;
    width: 100px;
    border: solid 3px blue;
    background-color: whitesmoke;
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 500px;
    justify-content: space-around;
}

header ul li{
    list-style-type: none;
    text-transform: capitalize;
    color: white;
}

header ul li a{
    text-decoration: none;
    
}

/* TERMINA EL HEADER */
/* ///////////////////ARTISTA////////////// */
.container{
    margin-top: 100px;
}
.artists img{
    height: 300px;
    width: 300px;
}
.PM{
    position: relative;
    right: -330px;
    top: 61px;
    font-size: 30px;
}
.play{
    position: relative;
    top: -288px;
    left: 329px;
    border: solid 3px black;
    height: 23px;
    width: 100px;
}
.canciones{
    position: relative;
    top: -212px;
    left: 306px;
    border: solid 3px black;
    width: 175px;
    height: 89px;
}
/* //////////////////////PODCAST /////////////////////////*/
.podcasts img{
    width: 350px;
    height: 300px;
}
.pod{
    position: relative;
    top: 45px;
    left: 380px;
}
.Rep{
    position: relative;
    top: -290px;
    left: 379px;
    border: solid 3px black;
    height: 23px;
    width: 100px;
}

.info{
    position: relative;
    top: -295px;
    left: 378px;
}
/* ////////////////////////TRACKS//////////////////////////// */
.tracks img{
    width:300px;
    height: 300px;
}
.track{
    position: relative;
    top: 39px;
    left: 320px;
}
.Re{
    border: solid 3px black;
    height: 23px;
    width: 100px;
    position: relative;
    top: -300px;
    left: 322px;
}
/* TERMINA EL CONTAINER */
footer{
    display: flex;
    height: 100px;
    width: 100%;
    border: solid 3px red;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

footer a img{
    width: 100px;
    height: 40px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}