.container-genre{
    margin-top: 100px;
    margin-left: 0;
    margin-left: 0;
    display: none;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
    width: 100%;
    /* display: none; */
    padding-top: 40px;
    padding-bottom: 40px;
}

.genre{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 40px;
}

.genre .imgContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.genre .imgContainer img{
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 20;
}

.genre .info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.genre .info h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}

.genre .slider{
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.genre .slider-content{
    /* height: 100%; */
    /* margin-bottom: 30px; */
    align-self: flex-end;
    width: 100%;
}

.genre .uk-panel{
    height: 100%;
    align-items: center;
    padding-left: 30px;
}

.genre .slider-content ul{
    height: 100%;
}

.genre .uk-grid>*{
    padding-left: 0;
}

.genre .slider-content ul li{
    height: 100%;
}

.genre .slider-content h4{
    color: white;
    margin: 0;
    text-align: center;
}

.genre .slider-content ul li img{
    height: 80%;
    width: 90%;
}

.genre .generic{
    height: 70%;
}

.genre .uk-panel:hover{
    background-color: rgba(128, 128, 128, 0.26);
}
@media only screen and (max-width: 768px){
    .genre{
        width: 100%;
        height: 700px;
        margin: 0em;
        margin-bottom: 50px;
        margin-top: 50px;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    .genre .imgContainer{
        margin-bottom: 20px;
    }
    .genre .imgContainer img{
        width: 60%;
        height: 100%;
    }

    .genre .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .genre h3{
        margin-right: 50px;
    }
    .genre p{
        width: 60%;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 420px){

    .genre .imagen{
        height: 80%;
    }
    .genre .moreInfo{
        margin-left: 35px;
    }
    .genre .duration{
        margin-right: 0;
        margin-left: 30px;
    }

    .genre .info h3{
        margin-left: 30px;
    }
}