body{
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2001; 
    background-color: black;
    margin-top: 0;
}

header img{
    width: 105px;
    height: 90px;
}

.buscador{
    height: 30px;
    width: 310px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.buscador input{
    width: 280px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: 0;
}

.buscador i{
    width: 10px;
    align-self: center;
    margin-left: 5px;
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 500px;
    justify-content: space-around;
    padding: 0;
}

header ul li{
    list-style-type: none;
    text-transform: capitalize;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Muli', sans-serif;
    
}

header ul li{
    color: white;
}

.hover:hover{
    color: rgb(75, 26, 171);
}

header ul li:hover{
    color: rgb(75, 26, 171);
}
/******************************* General container  *******************************************/

.container{
    margin-top: 100px;
    margin-left: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
}

.imgContainer{
    height: 400px;
    width: 400px;
    display: flex;
    align-self: center;
    position: relative;
    margin-left: 15px;
}

.list{
    width: 100%;
    height: 380px;
    align-self: center;
    display: flex;
    flex-direction: column;

} 
/* ********************************* Tracks ***************************************************** */
.tracks{
    height: 500px;
    width: 100%;
    display: flex;
    border-bottom: solid 3px rgba(128, 128, 128, 0.315);
}
.tracks img{
    height: 400px;
    width: 400px;
    align-self: center;
}
.tracks h3{
    margin: 0;
    position: absolute;
    top: 170px;
    left: 80px;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.trackBox{
    width: 95%;
    height: 10%;
    align-self: center;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    border: solid 1px rgba(128, 128, 128, 0.199);
    border-left: none;
    border-right: none;
}

.trackBox:hover{
    background-color: rgba(128, 128, 128, 0.26);
}
.trackBox div{
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Muli', sans-serif;
    font-size: small;
}

.trackBox a{
    text-decoration: none;
    color: white;
}

.trackBox a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* ********************************************** Artists ************************************************** */
.artists{
    height: 500px;
    width: 100%;
    display: flex;
    border-bottom: solid 3px rgba(128, 128, 128, 0.315);
}

.artists img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin-left: 50px;
}

.artists img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin: 0;
}
.artists h3{
    margin: 0;
    position: absolute;
    top: 170px;
    left: 80px;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.artists .trackBox{
    grid-template-columns: 80% 20%;
}

.artists .mainInfo{
    color: gray;
}
/* ******************************************Podcasts*************************************************** */
.podcasts{
    height: 500px;
    width: 100%;
    display: flex;
    border-bottom: solid 3px rgba(128, 128, 128, 0.315);
}

.podcasts img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin-left: 50px;
}

.podcasts img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin: 0;
}
.podcasts h3{
    margin: 0;
    position: absolute;
    top: 170px;
    left: 40px;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.podcasts .trackBox{
    grid-template-columns: 80% 20%;
}

/*************************************** Footer *******************************************************/

footer{
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
}

footer a img{
    width: 100px;
    height: 40px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
}

footer ul li a:hover{
    font-weight: bold;
}

/* **************************************Tablet**************************************************** */
@media only screen and (max-width: 768px){
    /* *********************** Header tablet *************************** */
    header img{
        height: 70px;
        width: 90px;
    }
    header ul{
        width: 350px;
        padding: 0;
    }

    .buscador{
        width: 200px;
    }

    /* *********************** General tablet *************************** */

    .container img{
        height: 300px;
        width: 300px;
    }

    .imgContainer{
        height: 300px;
        width: 300px;
    }

    .imgContainer h3{
        font-size: 30px;
        top: 150px;
        margin: 0;
    }

    .list{
        width: 80%;
        margin-top: 30px;
    }

    .trackBox{
        grid-template-columns: 50% 25% 25%;
    }

    .trackBox div{
        padding-top: 7px;
        padding-left: 5px;
    }

    /* *********************** Top individual tablet *************************** */

    .tracks{
        flex-direction: column;
        margin-top: 30px;
        height: 750px;
    }

    .artists{
        flex-direction: column;
        margin-top: 30px;
        height: 750px;
    }

    .podcasts{
        flex-direction: column;
        margin-top: 30px;
        height: 750px;
    }
}

/* **************************************Mobile**************************************************** */

@media only screen and (max-width: 400px){
    /* *********************** Header mobile *************************** */

    .tags{
        display: none;
    }

    header img{
        height: 50px;
        width: 70px;
    }

    .imgContainer{
        height: 250px;
        width: 250px;
        margin: 0;
    }
    
    .imgContainer img{
        height: 250px;
        width: 250px;
        justify-self: center;
    }

    .list{
        width: 90%;
    }

    .extraInfo{
        display: none;
    }

    .tracks{
        height: 700px;
    }

    .artists{
        height: 700px;
    }

    .podcasts{
        height: 700px;
    }
}