header{
    display: flex;
    width: 100%;
    height: 100px;
    border: solid 3px red;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2001;
    background-color: black;
    margin-top: 0;
}

header img{
    width: 70px;
    height: 70px;
}

.buscador{
    height: 30px;
    width: 100px;
    border: solid 3px blue;
    background-color: whitesmoke;
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 500px;
    justify-content: space-around;
}

header ul li{
    list-style-type: none;
    text-transform: capitalize;
}

header ul li a{
    text-decoration: none;
    color: white;
    
}

/******************************* Container *******************************************/

.container{
    margin-top: 100px;
}

.tracks{
    height: 500px;
    width: 100%;
    border: solid 3px green;
    display: flex;
}

.tracks img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin-left: 50px;
}
.artists{
    height: 500px;
    width: 100%;
    display: flex;
    border: solid 3px green;
}

.artists img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin-left: 50px;
}

.podcasts{
    height: 500px;
    width: 100%;
    border: solid 3px green;
    display: flex;
}

.podcasts img{
    height: 400px;
    width: 400px;
    align-self: center;
    margin-left: 50px;
}

/******************** Footer *************************/

footer{
    display: flex;
    height: 100px;
    width: 100%;
    border: solid 3px red;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

footer a img{
    width: 100px;
    height: 40px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}