.content{
    display: flex;
    justify-content: center;
    background-color: rgb(12, 11, 14);
}

.container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
.separation{
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0;
    margin-bottom: 80px;
}

.imgContainer{
    display: flex;
    height: 300px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer img{
    width: 100%;
    height: 100%;
}

.mainInfo{
    display: grid;
    height: 300px;
    margin: 0;
    grid-template-rows: 40% 60%;
}

.mainInfo h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 40px;
}

.mainInfo h5{
    color: lightgray;
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-top: 10px;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#play{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 30px;
    background-color: rgb(75, 26, 171);
}
.borrar {
    color: black;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 30px;
    background-color: white;
}
.borrar:hover {
    opacity: 50%;
    color: black;
    text-decoration-line:none ;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}
#more{
    color: white;
}

#add i{
    color: white;
}
.playlistTrack{
    width: 100%;
    margin-bottom: 100%;
}

.track{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 5% 60% 15% 15% 5%;
    border: solid 1px rgba(128, 128, 128, 0.26);
    border-right: none;
    border-left: none;
    align-items: center;
}

.track div{
    height: 50px;
}
.albumContainer{
    display: flex;
    align-items: center;
}
.albumContainer img{
    height: 50px;
    width: 100%;

}

.tag{
    display: flex;
    align-items: center;
}
.tag a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    margin-left: 20px;
}

/* ** Animations *** */

#add i:hover{
    color: rgb(75, 26, 171);
}
/* cambie la animacion del boton play en el hover */

#play:hover{
    background-color: rgb(131, 106, 182);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#more i:hover{
    color: rgb(169, 148, 211);
}

.track:hover{
    background-color: rgba(128, 128, 128, 0.26);
}

.tag a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.tag i:hover{
    color: rgb(75, 26, 171);
}
/* TABLET */
@media only screen and (max-width: 768px){
    .track{
        grid-template-columns: 10% 50% 15% 15% 10%;
    }

    .separation{
        grid-template-rows: 50% 50%;
        grid-template-columns: none;
    }

    .imgContainer img{
        width: 70%;

    }
    
}
/* celular responsive */

@media only screen and (max-width: 420px){
    .separation{
        margin-bottom: 40px;
    }

    .separation img{
        height: 80%;
    }
    .track{
        grid-template-columns: 15% 70% 20%;
    }

    .imgContainer img{
        width: 100%;
    }
    .notMobile{
        display: none;
    }
.buttons {
width: 100%;
display:flex ;
flex-direction: column ;

}
.borrar{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    width: 100%;
    text-align: center;
}

}
footer{
    position: static;
    bottom: 0;
}
.mensajeCanciones{
    text-align: center;
    font-family: ;
}
.moticon{
    text-align: center;
    font-size: xx-large;
}