.container{
    background-color: rgb(12, 11, 14);
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 90%;
    border-top: solid 3px rgba(128, 128, 128, 0.315);
    border-left: none;
    border-right: none;
}

.artist-content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.artist-content h2{
    color: white;
    width: 98%;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.artist-list{
    display: flex;
    /* border: solid 2px green; */
    width: 70%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.artist{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-right: 0; */
    margin: 0;
}

.artistLink{
/*    height: 210px;
    width: 30%;
    text-decoration-line: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-right: 0;*/
    height: 210px;
    width: 30%;
    text-decoration-line: none;
} 

/* .artist a .imgContainer{
    margin-right: 0;
} */
.artist .imgContainer{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-right: 0;
}

.artist .imgContainer img{
    height: 100%;
    border-radius: 50%;
}

.artist h4{
    color: white;
    font-family: 'Muli', sans-serif;
    text-align: center;
    margin-right: 0;
    font-weight: normal;
}

.track-content{
    display: flex;
    flex-direction: column;
}
.track-content h2{
    color: white;
    width: 98%;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.track-list{
    display: flex;
    /* border: solid 2px green; */
    width: 70%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0 20px;
}

.trackLink{
    height: 210px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 12px;
    margin-right: 12px; */
    padding-top: 10px;
    text-decoration-line: none;
}

.track{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track .imgContainer{
    height: 140px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.track .imgContainer img{
    height: 100%;
}

.track h4{
    color: white;
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.track p{
    color: gray;
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-size: 12px;
}

.track-link{
    color: white;
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-size: 15px;
    text-decoration-line: none;
}

.album-content{
    display: flex;
    flex-direction: column;
}
.album-content h2{
    color: white;
    width: 98%;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.album .imgContainer{
    height: 140px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.album-list{
    display: flex;
    /* border: solid 2px green; */
    width: 70%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0 20px;
}

.albumLink{
    height: 210px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 15px;
    margin-right: 15px; */
    padding-top: 10px;
    text-decoration-line: none;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album .imgContainer img{
    height: 100%;
}

.album h4{
    color: white;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.album p{
    color: gray;
    font-family: 'Muli', sans-serif;
    margin: 0;
    width: fit-content;
    font-size: 12px;
}

.artistLink:hover{
    background-color: rgba(128, 128, 128, 0.26);
}

.artist h4:hover{
    text-decoration: underline;
    text-decoration-line: white;
    font-weight: bold;
}

.trackLink:hover{
    background-color: rgba(128, 128, 128, 0.26);
}

.track h4:hover{
    text-decoration: underline;
    text-decoration-line: white;
    font-weight: bold;
}
.albumLink:hover{
    background-color: rgba(128, 128, 128, 0.26);
}

.album h4:hover{
    text-decoration: underline;
    text-decoration-line: white;
    font-weight: bold;
}
/* Mio */