/* body .card {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 180px;
    background-color: #080808;
    padding: 20px;
    font-size: 24px;
    color: #f7f7f7;
} */

.ellipsis {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
    /**/
}

.ellipsis:not(:hover) {
    text-overflow: ellipsis;
}
.ellipsis span {
    position: relative;
    left: 0px;
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}
  