.container-track{
    margin-top: 100px;
    margin-left: 0;
    margin-left: 0;
    display: none;
    flex-direction: column;
    background-color: rgb(12, 11, 14);
    width: 100%;
}

.track{
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-left: 40px;
}

.track .imgContainer{
    width: 100%;
    height: 100%px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.track .overImage{
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 20;
}

.track .imagen{
    width: 90%;
    height: 90%;
}

.track .info h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
}

.track .info{
    height: 100%;
    width: 100%;
}

.track .moreInfo{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.track .artist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
}

.track .sideBar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}

.track .album{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: gray;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    text-decoration: none;
    height: 100%;
}

.track .info div h5{
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: rgb(160, 160, 160);
}

.track .duration{
    display: flex;
    width: 40%;
    justify-content: center;
    justify-self: left;
}

.track .button{
    width: 100%;
    height: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.track .add{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    background-color: rgb(75, 26, 171);
    font-size: 30px;
    align-self: flex-end;
    margin-bottom: 80px;
    padding: 6px 20px;
    border-radius: 30px;
}

@media only screen and (max-width: 768px){
    .track{
        width: 100%;
        height: 700px;
        margin: 0em;
        margin-bottom: 50px;
        margin-top: 50px;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }

    .track .imgContainer{
        margin-bottom: 20px;
    }
    .track .imagen{
        width: 60%;
        height: 100%;
    }

    .track .moreInfo{
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 60px;
    }

    .track .duration{
        justify-content: flex-start;
        margin-left: 60px;
    }
    .track .duration h5{
        margin: 0;
    }
}

@media only screen and (max-width: 420px){

    .track .imagen{
        height: 80%;
    }
    .track .moreInfo{
        margin-left: 35px;
    }
    .track .duration{
        margin-right: 0;
        margin-left: 30px;
    }

    .track .info h3{
        margin-left: 30px;
    }
}